body{
    font-family: 'Roboto', sans-serif;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;

}
header{
color: white;
text-align: center;
}
section{
    display: flex;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    margin: auto;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
/*City Name*/
.cidade{
    display: flex;
    justify-content: center;
}
/**/
#pesquisa{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 3vh;
}
#Formulario{
    display: flex;
    justify-content: center;
}
/*Divs & inside divs*/
#Painel-principal{
 
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
    background: rgba( 219, 216, 216, 0.40 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.clima{
    font-size: 3em;
    display: flex;
    color: yellow;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}
#nuvem{
    color: blanchedalmond;
}
#chuva{
    color: rgb(34, 193, 241);
}
.invisivel{
    display: none;
}
.Celsius{
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: white;
}
.Celsius p {
    display: flex;
    font-size: 12px;
}
.vari{
    flex-direction: column;
    margin: 0px 10px 0px 10px;

}
/* footer*/

